// CUSTOMIZE AND RENAME THIS FILE TO "config.go" TO BUILD THIS PROJECT

package main

import (
	"board/alert"
	"board/probe"
	"time"
)

var opt = &probe.HTTPParams{
	Regex:             "^<html>",
	VerifyCertificate: true,
}

// M configures the available probes on the monitor, sorted by catgeories.
var M = &Manager{
	"Category Name": []*Service{
		&Service{
			Name:   "Service 1",
			Prober: probe.NewHTTP("https://www.example.com", time.Second, 10*time.Second),
		},
		&Service{
			Name:   "Service 2",
			Prober: probe.NewCustomHTTP("http://sub.example.com", time.Second, 10*time.Second, opt),
		},
	},
}

// A is a slice of alerts that should be triggered when a service goes down.
var A = []alert.Alerter{
	alert.NewPushbullet("<your token here>"),
}
