# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/google-java-format.xml
/checkstyle-idea.xml
/jpa-buddy.xml
